html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="fonts/aller/ALLER.css")
    link(rel="stylesheet", href="fonts/droid/droid.css")
    title Document
body
    .wrapper
      .header 
        .header__conteiner
          .logo 
            img.logo__img(src="img/logo.png", alt="logo")
          nav.nav
            a.nav__item(href="#") HOME 
            a.nav__item(href="#") SERVICE 
            a.nav__item1(href="#") PORTFOLIO
            a.nav__item(href="#") ABOUT
            a.nav__item(href="#") BLOG
            a.nav__item(href="#") CONTACT
      .conteiner
        .slider.swiper-container
          .swiper-wrapper
            .swiper-slide
              img(src="img/slaider.jpg", alt="slider")
            .swiper-slide
              img(src="img/slaider.jpg", alt="slider")
          .swiper-button-prev.navigation-buttons
            img.prev-img(src="img/Left-Arrow.png", alt="")
          .swiper-button-next.navigation-buttons
            img.next-img(src="img/Right-Arrow.png", alt="")
        .services
          .services__content
            .services__title Our Services
            .services__subtitle Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia 
            .services__subtitle__text bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit 
          .services__btn
            .services__slider__btn Web Design 
            .services__slider__btn Photography
            .services__slider__btn Gaphics
          .services__webdesign
            .webdesign__photo
              img(src="img/portfolio7.jpg", alt="webdisignphoto")
            .webdesign__content
              .webdesign__title Lorem ipsum dolor sit amet.
              .webdesign__subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sint aperiam adipisci <br> vero aliquam nam exercitationem ut alias ratione, quibusdam possimus consequuntur impedit sunt nemo est eaque quidem natus! Doloribus neque eveniet quas quaerat eligendi.
        .portfolio 
          .portfolio__title  Latest Staff of Our Projects
          .portfolio__subtitle Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. <br> Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, 
          .portfolio__img
            img.portfolioimg1(src="img/portfolio1.jpg", alt="portfolio")
            img.portfolioimg2(src="img/portfolio2.jpg", alt="portfolio")
            img.portfolioimg3(src="img/portfolio3.jpg", alt="portfolio")
            img.portfolioimg4(src="img/portfolio4.jpg", alt="portfolio")
            img.portfolioimg5(src="img/portfolio5.jpg", alt="portfolio")
            img.portfolioimg6(src="img/portfolio6.jpg", alt="portfolio")
        .blog 
          .blog__title Latest Blog
          .blog__subtitle Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia 
          .blog__subtitle__text bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, 
          .blog__content
            .blog__content__con 
              .blog__con__date 23<br> jan
              .blog__con__content
                .blog__con__title Aenean Adipiscing Etiam Vestibulum
                .blog__con__subtitle Etiam porta sem malesuada magna lorem etor mollis euismod. <br> Cras mattis consectetur purus.
                .blog__con__link  
                a.link(href="#") Journal, Photography, Web Design  |  9 Comments
            .blog__content__cont 
              .blog__con__date 23<br> jan
              .blog__con__content
                .blog__con__title Aenean Adipiscing Etiam Vestibulum
                .blog__con__subtitle Etiam porta sem malesuada magna lorem etor mollis euismod. <br> Cras mattis consectetur purus.
                .blog__con__link  
                a.link(href="#") Journal, Photography, Web Design  |  9 Comments
            .blog__content__con 
              .blog__con__date 23<br> jan
              .blog__con__content
                .blog__con__title Aenean Adipiscing Etiam Vestibulum
                .blog__con__subtitle Etiam porta sem malesuada magna lorem etor mollis euismod. <br> Cras mattis consectetur purus.
                .blog__con__link  
                a.link(href="#") Journal, Photography, Web Design  |  9 Comments
            .blog__content__cont 
                  .blog__con__date 23<br> jan
                  .blog__con__content
                    .blog__con__title Aenean Adipiscing Etiam Vestibulum
                    .blog__con__subtitle Etiam porta sem malesuada magna lorem etor mollis euismod. <br> Cras mattis consectetur purus.
                    .blog__con__link  
                    a.link(href="#") Journal, Photography, Web Design  |  9 Comments
        .customers
          .customers__title Our Customers
          .customers__subtitle Aenean lacinia bibendum nulla sed consectetur. Vivamus augue laoreet rutrum faucibus dolor
          .customers__icon
            .icon__wrap1 
              img(src="img/logo1.png", alt="logog")
            .icon__wrap 
              img(src="img/logo2.png", alt="logog")
            .icon__wrap 
              img(src="img/logo3.png", alt="logog")
            .icon__wrap 
              img(src="img/logo4.png", alt="logog")
            .icon__wrap 
              img(src="img/logo5.png", alt="logog")
            .icon__wrap6 
              img(src="img/logo6.png", alt="logog")
      .footer 
        .footer__con
          .popular
            .footer__title POPULAR POSTS
            .footer__subtitle Vivamus sagittis lacus vel augue <br> laoreet rutrum dolor auctor.
            .footer__date 14 nov 2012
            .footer__subtitle Scelerisque nisl consectetur et
            .footer__date 22 may,2012
            .footer__subtitle Pellentesque ornare sem lacinia<br> quam venenatis vestibulum. Fusce
            .footer__date 15 july,2012
          .twitter
            .footer__title TWITTER
            .footer__subtitle.margin Praesent commodo cursus<br> magna Morbi leo risus nulla<br> consectetur. - 
              a.footer__link(href="#") 24 hours ago
            .footer__subtitle.margin Praesent commodo cursus<br> magna Morbi leo risus nulla<br> consectetur. - 
              a.footer__link(href="#") 2 days ago
            .footer__subtitle.margin Donec ullamcorper nulla non<br> metus auctor. -
              a.footer__link(href="#") 3 days ago
          .about
            .footer__title A LITTLE ABOUT ME
            .footer__subtitle.margin Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Duis<br> mollis, est non commodo luctus, nisi<br> erat porttitor ligula, eget lacinia odio<br> sem nec elit.
            .footer__subtitle Donec id elit non porta gravida at<br> eget metus. Nullam quis risus eget<br> urna mollis ornare vel.
          .form
            .footer__title CONTACT FORM
            input.footer__form(type="text" id="fname" name="fname")
            input.footer__form.back(type="text" id="fname" name="fname")
            textarea.textarea(name="message")
            button.form__btn submit
      .footer__bottom
        .footer__bottom__con 
          .bottom__text © 2011 Ikaros. Theme by 
            a.footer__bottom__link(href="#") elemis
          .bottom__icons
            img.icons(src="img/icon1.png", alt="icons")
            img.icons(src="img/icon2.png", alt="icons")
            img.icons(src="img/icon3.png", alt="icons")
            img.icons(src="img/icon4.png", alt="icons")
            img.icons(src="img/icon5.png", alt="icons") 
            img.icons(src="img/icon6.png", alt="icons")
    script(src="./node_modules/swiper/swiper-bundle.min.js")
    script(src="js/script.js")